body {
  font-family: tahoma;
  height: 80vh;
  background-image: url(https://picsum.photos/g/3000/2000);
  background-size: cover;
  background-position: center;
}
.App {
  width: 100%;
  max-width: 330px;
  padding: 40px 10px 40px 10px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  height: 100%;
  box-shadow: 0.5rem 0.5rem rgb(0, 0, 0), -0.5rem -0.5rem #ccc;
  margin: auto;
  margin-top: 80px;
}

.Img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}
